<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users Information</title>
</head>
<body>
    <h1>Users Information</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Username</th>
                <th>Region</th>
                <th>Ping</th>
                <th>Last Updated</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users_info %}
            <tr>
                <td>{{ user[0] }}</td>
                <td>{{ user[1] }}</td>
                <td>{{ user[2] }}</td>
                <td>{{ user[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
